@import url('https://fonts.googleapis.com/css2?family=Fanwood+Text:ital@0;1&family=Quattrocento+Sans:wght@400;700&display=swap');

/* CSS style reset */
* {
    margin: 0%;
    padding: 0%;
    border: none;
}

body {
    font-family: 'Fanwood Text', serif;
    margin-right: 145px;
    margin-left: 160px;
}

/* logo and header styling */
#logo {
    font-family: 'quattrocento sans', sans-serif;
    font-size: 150%;
    font-weight: 700;
    letter-spacing: 3px;
    text-decoration: none;
    color: #26282D;
}

#logo:hover {
    color: #881100;
    text-decoration: underline;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 50px;
}

/* Navigation menu styling */
#navigation {
    font-weight: 300;
    font-size: 150%;
}

#navigation li {
    display: inline;
    list-style-type: none;
    margin-right: 50px;
    letter-spacing: 3px;
}

#navigation a {
    text-decoration: none;
    color: #26282D;
    font-weight: 700;
}

#navigation a:hover {
    color: #881100;
    text-decoration: underline;
}

/* Hero image */

.hero-section {
    position: relative;
    height: 750px;
    width: 100%;
}

#hero-img {
    background: url(../images/DSC_0091_Fotor.jpg) no-repeat center center;
    background-size: cover;
    height: 750px;
    width: 100%;
    background-attachment: fixed;
    /* margin-left: 15px; */
}

/* Cover text styling */

#cover-text {
    background-color: rgba(136, 17, 0, .6);
    width: fit-content;
    height: fit-content;

    padding: 75px 75px;

    position: absolute;
    right: 250px;
    top: 75px;
}

#cover-text h2 {
    font-size: 250%;
    text-transform: uppercase;
}

#cover-text h3 {
    font-size: 200%;
}

#cover-text h2,
h3 {
    color: #fff;
    text-align: center;
}

/* Mission statement styling */

.mission-statement-main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* Mission statement banner styling */

#statement-banner {
    text-align: center;
    color: #881100;
    text-transform: uppercase;
    font-size: 150%;
    margin: 20px auto;
}

/* Mission statement images styling */

#m-statement-top-img {
    width: 500px;
    height: 100%;
}

#m-statement-middle-img {
    width: 700px;
    height: 100%;
    align-self: center;
}

#m-statement-bottom-img {
    width: 500px;
    height: 100%;
}

/* Mission statement "What is Boudoir" flex & styling */

#m-statement-top {
    display: flex;
    flex-direction: row-reverse;
    /* margin-left: 15px; */
}

#what-is-boudoir {
    font-size: 200%;
    text-align: center;
    margin: 250px 50px;
}

#what-is-boudoir h2 {
    color: #881100;
}

/* Mission statement "Boudoir history and Why consider it" flex & styling */

#m-statement-middle {
    display: flex;
    flex-direction: row;
    /* margin-left: 15px; */
}

#boudoir-history,
#boudoir-why-consider {
    font-size: 150%;
    text-align: center;
    margin: 75px 15px;
}

#boudoir-history h2,
#boudoir-why-consider h2 {
    color: #881100;
}

/* Mission statement "Why consider us for Boudoir Photography Session?" flex & styling */

#m-statement-bottom {
    display: flex;
    flex-direction: row;
    /* margin-left: 15px; */
}

#boudoir-why-us {
    font-size: 200%;
    text-align: center;
    margin: 250px 50px;
}

#boudoir-why-us h2 {
    color: #881100;
}

#boudoir-why-us strong {
    color: rgba(136, 17, 0, .9);
}

/* Contact section ( form and contact) flex styling */

.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
}

/* Map, address and open times styling */

#map {
    display: flex;
    flex-direction: column;
    border: 2px solid #881100;
    height: 500px;
    width: 40em;
}

#map iframe {
    width: auto;
    height: 350px;
}

#map h2 {
    text-align: center;
    color: #881100;
    text-transform: uppercase;
    font-size: 150%;
    margin: 10px auto;
}

#mapaddress {
    display: flex;
    flex-direction: row;
    text-align: center;
    color: #26282D;
    text-transform: uppercase;
    font-weight: 700;
    margin: 20px auto;
}

#mapaddress ul {
    list-style: none;
    margin: 0 25px;
}

/* Form styling */

#form {
    flex-direction: column;
    width: 40em;
    height: 500px;
    border: 2px solid #881100;
    display: flex;
}

#form h2 {
    text-align: center;
    color: #881100;
    text-transform: uppercase;
    font-size: 150%;
    margin: 20px auto;
}

#form h4 {
    text-align: center;
    color: #26282D;
    text-transform: uppercase;
    margin: 20px auto;
    font-weight: 700;
}

.form-inputs {
    width: auto;
    height: 400px;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.text-input {
    border: 2px solid #881100;
    border-radius: 5px;
    width: 50%;
    height: 20px;
    font-size: 15px;
}

.text-input:hover {
    background-color: rgba(136, 17, 0, .3);
}

#textid {
    color: #26282D;
    font-size: 125%;
    font-weight: 700;
}

#txarea {
    resize: none;
    border: 2px solid #881100;
    border-radius: 5px;
    width: auto;
    height: fit-content;
    margin-right: 15px;
    font-size: 15px;
}

#txarea:hover {
    background-color: rgba(136, 17, 0, .3);
}

#txarea:hover::placeholder {
    color: #26282D;
}

.submit-button {
    border: 2px solid #881100;
    border-radius: 5px;
    width: 15%;
    align-self: center;
    color: #26282D;
    font-size: 100%;
    margin-bottom: 15px;
    text-align: center;
}

.submit-button:hover {
    background-color: rgba(136, 17, 0, .3);
}

/* OR - comes in between map and form parts of contact section */

#or {
    text-align: center;
    color: #881100;
    text-transform: uppercase;
    font-size: 200%;
    margin: auto 5px auto 5px;
}

/* Footer styling */

footer {
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 100%;
}

.socials {
    margin: 75px 0;
    display: flex;
    justify-content: space-between;
}

.socials li {
    list-style: none;
    margin: 25px 25px;
}

.socials i {
    font-size: 250%;
    border-radius: 5px;
    padding: 10px 15px;
    color: #26282D;
}

.socials i:hover {
    background: rgba(136, 17, 0, .7);
}

footer h2 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
    color: #26282D;
}

#copyright {
    text-align: center;
    justify-content: space-between;
    display: inline-flex;
    padding-bottom: 15px;
    font-weight: 700;
}