/* CSS = NAVIGATION HELPER */

/* CONTENT STRUCTURE OF CSS.STYLE:

    -GLOBAL SETTINGS
        - Css style reset
        - Smooth scrolling
        - Body font and margins
        - Hidden scrollbar
        - Logo text and header
        - Menu navigation
        - Hamburger icon
        - Hero image
        - Cover text
        - Contact section
            - Map & address
            - Form
        - Footer
        - Scroll to top button

    - INDEX PAGE SETTINGS
        - Image styling
        - Top mission statement
        - Middle mission statement    
        - Bottom mission statement

    - GALLERY PAGE SETTINGS ( Image gallery styling )
        
    - ABOUT PAGE SETTINGS
        - Team section
        - Frequently asked questions
        - Testimonials
        
    - MEDIA QUERY SETTINGS
        - Larger screens (max-width 1600px)
        - Big to medium screens (max-width 1400px)
        - Moderate-large screens (max-width 1200px)
        - Compact medium screens ( max-width 900px)
            - Toggle/show hamburger icon             
        - Small screens (max-width 600px)
        - Extra-small screens         
*/

/* HOW TO USE QUICK-JUMP FEATURE:

        The content structure above acts as a guide for this css.style file.

        Each of the items listed in the content structure has a unique first word
        and that word is paired with = sign in the actual content of the stylesheet.

        If you want to find specific section please use ctrl+f (find in page) and input 
        =SPACEexample with the word "example" being the first word of any item in the content structure.
        
        For example, if you are looking for "Browser", you would need to input the following into the search box:
        = Browser

        In most cases first 3-4 letters of the word are sufficient to take you to the desired destination in the file.
        
        This also works for the main sections ( Global, Index, About, Gallery and Media queries).

        You can use = and NAVIGATION in the same manner for quick return to the content structure (top of the page).
        */

/* =================== 
   = GLOBAL SETTINGS = 
   =================== */

@import url('https://fonts.googleapis.com/css2?family=Fanwood+Text:ital@0;1&family=Quattrocento+Sans:wght@400;700&display=swap');

/* = CSS style reset */

* {
    margin: 0%;
    padding: 0%;
    border: none;
}

/* = Smooth scrolling for the whole website */

html {
    scroll-behavior: smooth;
}


/* = Body font and margins */

body {
    font-family: 'Fanwood Text', serif;
    margin-right: 155px;
    margin-left: 155px;

    /* = Hidden scrollbar */

    /* for Internet Explorer, Edge */
    -ms-overflow-style: none;
    /* for Firefox */
    scrollbar-width: none;
    overflow-y: scroll;
}

/* Hidden scrollbar for Chrome, Safari, and Opera */

body::-webkit-scrollbar {
    display: none;
}

/* = Logo text and header styling */

#logo {
    font-family: 'quattrocento sans', sans-serif;
    font-size: 150%;
    font-weight: 700;
    letter-spacing: 3px;
    text-decoration: none;
    color: #26282D;
    transition: 0.4s ease-in-out;
}

#logo:hover {
    color: #881100;
    border-bottom: 5px solid #881100;
    font-size: 151%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px;
}

/* = Menu navigation styling */

.navigation {
    font-weight: 300;
    font-size: 150%;
}

.navigation li {
    display: inline;
    list-style-type: none;
    margin-right: 25px;
    letter-spacing: 3px;
}

.navigation a {
    text-decoration: none;
    color: #26282D;
    font-weight: 700;
    transition: 0.4s ease-in-out;
}

.navigation a:hover {
    color: #881100;
    border-bottom: 5px solid #881100;
    font-size: 101%;
}

#active {
    color: #881100;
    padding: 10px 15px;
    background: rgba(136, 17, 0, .3);
    border-radius: 15px;
}

/* = Hamburger menu icon hidden for device width greater than 900px */

.navigation label,
#hamburger {
    display: none;
    cursor: pointer;
}

/* = Hero image styling*/

.hero-section {
    position: relative;
    height: 750px;
    width: 100%;
}

#hero-img-index {
    background: url(../images/hero_images/hero_img_index.webp) no-repeat center center;
    background-size: cover;
    height: 750px;
    width: 100%;
    background-attachment: fixed;
}

#hero-img-gallery {
    background: url(../images/hero_images/hero_img_gallery.webp) no-repeat center center;
    background-size: cover;
    height: 750px;
    width: 100%;
    background-attachment: fixed;
}

#hero-img-about {
    background: url(../images/hero_images/hero_img_about.webp) no-repeat center center;
    background-size: cover;
    height: 750px;
    width: 100%;
    background-attachment: fixed;
}

/* = Cover text styling */

#cover-text {
    background-color: rgba(136, 17, 0, .6);
    padding: 25px;
    position: absolute;
    right: 130px;
    top: 200px;
    border-radius: 30px;
}

#cover-text h2 {
    font-size: 250%;
    text-transform: uppercase;
}

#cover-text h3 {
    font-size: 200%;
}

#cover-text h2,
h3 {
    color: #fff;
    text-align: center;
}

/* = Contact section (form and map) flex styling */

.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 25px;
}

/* = Map, address and open times styling */

#map {
    display: flex;
    flex-direction: column;
    border: 2px solid #881100;
    height: 500px;
    width: 45em;
    margin-left: 10px;
    border-radius: 20px;
}

#map iframe {
    width: auto;
    height: 350px;
    border-radius: 20px;
}

#map h2 {
    text-align: center;
    color: #881100;
    text-transform: uppercase;
    font-size: 150%;
    margin: 10px auto;
}

#mapaddress {
    display: flex;
    flex-direction: row;
    text-align: center;
    color: #26282D;
    text-transform: uppercase;
    font-weight: 700;
    margin: 20px auto;
}

#mapaddress ul {
    list-style: none;
    margin: 0 25px;
}

/* = Form styling */

#form {
    flex-direction: column;
    width: 45em;
    height: 500px;
    border: 2px solid #881100;
    display: flex;
    margin-right: 10px;
    border-radius: 20px;
}

#form h2 {
    text-align: center;
    color: #881100;
    text-transform: uppercase;
    font-size: 150%;
    margin: 20px auto 10px;
}

#form h3 {
    text-align: center;
    color: #26282D;
    text-transform: uppercase;
    margin: 10px auto 10px;
    font-weight: 700;
}

.form-inputs {
    width: auto;
    height: 400px;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.text-input {
    border: 2px solid #881100;
    border-radius: 5px;
    width: 50%;
    height: 20px;
    font-size: 15px;
    padding: 3px 3px;
}

.text-input:hover {
    background-color: rgba(136, 17, 0, .3);
}

.textid {
    color: #26282D;
    font-size: 125%;
    font-weight: 700;
}

#txtarea {
    resize: none;
    border: 2px solid #881100;
    border-radius: 5px;
    width: auto;
    height: fit-content;
    margin-right: 15px;
    margin-top: 15px;
    font-size: 15px;
}

#txtarea:hover {
    background-color: rgba(136, 17, 0, .3);
}

#txtarea:hover::placeholder {
    color: #26282D;
}

#textareaid {
    display: none;
}

.submit-button {
    border: 2px solid #881100;
    border-radius: 5px;
    align-self: center;
    color: #26282D;
    font-size: 125%;
    margin: 15px auto 5px;
    text-align: center;
    padding: 5px 10px;
    font-family: 'quattrocento sans', sans-serif;
    font-weight: 700;
    cursor: pointer;
}

.submit-button:hover {
    background-color: rgba(136, 17, 0, .3);
}

/* = Footer styling */

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 25px;
}

.socials {
    margin: 25px 0;
    display: flex;
    justify-content: space-between;
}

.socials li {
    list-style: none;
    margin: 25px 25px;
}

.socials i {
    font-size: 250%;
    border-radius: 5px;
    padding: 10px 15px;
    color: #26282D;
    transition: 0.4s ease-in-out;
}

.socials i:hover {
    background: rgba(136, 17, 0, .5);
    transition: 0.4s ease-in-out;
}

footer h2 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 25px;
    color: #26282D;
}

#copyright {
    text-align: center;
    justify-content: space-between;
    display: inline-flex;
    font-weight: 700;
}

/* = Scroll to top button styling */

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    background-color: rgba(136, 17, 0, .5);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 15px;
    transition: 0.6s ease-in-out;
}

#myBtn:hover {
    background-color: #881100;
    font-size: 20px;
    transition: 0.6s ease-in-out;
}


/* =======================
   = INDEX PAGE SETTINGS =
   ======================= */

.mission-statement-main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* Mission statement banner styling */

.statement-banner {
    text-align: center;
    color: #881100;
    text-transform: uppercase;
    font-size: 150%;
    margin: 20px auto 0;
    word-spacing: 7px;
}

/* = Image styling for mission statement section */

#m-statement-top-img,
#m-statement-bottom-img {
    min-width: 55%;
    border-radius: 20px;
    width: 100%;
}

#m-statement-middle-img {
    min-width: 40%;
    border-radius: 20px;
    width: 100%;
}

/* = Top mission statement flex & styling */

#m-statement-top {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 20px auto;
}

#what-is-boudoir {
    font-size: 200%;
    text-align: center;
}

#what-is-boudoir h2 {
    color: #881100;
}

/* = Middle mission statement flex & styling */

#m-statement-middle {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px auto;
}

#boudoir-history,
#boudoir-why-consider {
    font-size: 200%;
    text-align: center;
    margin: auto 15px;
}

#boudoir-history h2,
#boudoir-why-consider h2 {
    color: #881100;
}

/* = Bottom mission statement flex & styling */

#m-statement-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#boudoir-why-us {
    font-size: 200%;
    text-align: center;
    margin: auto 15px;
}

#boudoir-why-us h2 {
    color: #881100;
}

#boudoir-why-us strong {
    color: rgba(136, 17, 0, .9);
}

/* =========================
   = GALLERY PAGE SETTINGS =
   ========================= */

.row {
    display: flex;
    justify-content: space-between;
    margin: 25px 0 0;
}

.column {
    max-width: 50%;
}

.column-middle {
    max-width: 50%;
    padding: 0 35px;
}

.column img,
.column-middle img {
    width: 100%;
    padding: 15px 0;
    transition: transform .8s;
}

.column img:hover,
.column-middle img:hover {
    transform: scale(1.1);
}

/* =======================
   = ABOUT PAGE SETTINGS =
   ======================= */

/* = Team section styling */

.team {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}

#photographer,
#makeup,
#hair {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

#makeup {
    padding: 0 30px;
}

.team img {
    width: 100%;
    border-radius: 20px;
}

.team h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 170%;
}

.team h3 {
    font-weight: 700;
    font-size: 160%;
    color: #881100;
    padding-bottom: 20px;
}

.team p {
    font-size: 125%;
    text-align: center;
}

/* = Frequently asked questions section accordion styling */

.faq h2 {
    text-align: center;
    padding: 25px 0 15px;
    color: #881100;
    font-size: 200%;
    font-weight: 700;
    text-decoration: underline;
}

details {
    cursor: pointer;
    text-align: center;
    font-size: 130%;
    padding-bottom: 5px;
}

summary {
    padding: 25px 0;
    display: block;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #881100;
    font-size: 130%;
    font-weight: 700;
    transition: 0.6s;
}

summary:hover {
    background-color: rgba(136, 17, 0, .3);
    border-radius: 25px;
}

summary::-webkit-details-marker {
    display: none;
}

details[open] div {
    padding: .5em 1em;
    border-bottom: 1px solid #881100;
}

/* = Testimonials section styling */

.testimonials {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.review-container {
    display: flex;
    justify-content: space-evenly;
}

.review {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.testimonials img {
    width: 60%;
    border-radius: 50%;
}

.testimonials h3 {
    font-weight: 700;
    font-size: 150%;
    color: #881100;
}

.testimonials h2 {
    font-weight: 700;
    font-size: 170%;
    padding-bottom: 5px;
    text-transform: uppercase;
    text-align: center;
}

.testimonials p {
    font-size: 125%;
    text-align: center;
    padding-bottom: 25px;
}

#testimonials-banner {
    text-align: center;
    padding: 25px 0 45px;
    color: #881100;
    font-size: 200%;
    font-weight: 700;
    text-decoration: underline;
    text-transform: none;
}

/* ========================
   = MEDIA QUERY SETTINGS =
   ======================== */

/* For = larger screens */

@media screen and (max-width: 1600px) {

    #what-is-boudoir {
        font-size: 170%;
    }

    #boudoir-history,
    #boudoir-why-consider {
        font-size: 165%;
    }

    #boudoir-why-us {
        font-size: 170%;
    }

    #cover-text {
        right: 90px;
    }
}

/* For = big to medium screens */

@media screen and (max-width: 1400px) {

    #what-is-boudoir {
        font-size: 145%;
    }

    #boudoir-history,
    #boudoir-why-consider {
        font-size: 135%;
    }

    #boudoir-why-us {
        font-size: 145%;
    }

    #cover-text {
        right: 30px;
        top: 200px;
    }
}

/* For = moderate-large screens */

@media screen and (max-width: 1200px) {

    body {
        margin: 0 75px;
    }

    #logo {
        font-size: 130%;
        letter-spacing: 2px;
    }

    #logo:hover {
        font-size: 131%;
    }

    .navigation {
        font-size: 130%;
    }

    .navigation li {
        margin-right: 20px;
        letter-spacing: 2px;
    }

    #cover-text h2 {
        font-size: 200%;
        text-transform: uppercase;
    }

    #cover-text h3 {
        font-size: 170%;
    }

    #cover-text {
        position: absolute;
        right: 30px;
        top: 200px;
    }

    #what-is-boudoir {
        font-size: 125%;
    }

    #boudoir-history,
    #boudoir-why-consider {
        font-size: 115%;
    }

    #boudoir-why-us {
        font-size: 125%;
    }
}

/* For = compact-medium screens */

@media screen and (max-width: 900px) {

    body {
        margin: 0 45px;
    }

    #hero-img-index {
        background: url(../images/hero_images/hero_img_index_resized.webp) no-repeat center center;
        background-attachment: fixed;
    }

    #hero-img-gallery {

        background: url(../images/hero_images/hero_img_gallery_resized.webp) no-repeat center center;
        background-attachment: fixed;
    }

    #hero-img-about {

        background: url(../images/hero_images/hero_img_about_resized.webp) no-repeat center center;
        background-attachment: fixed;
    }

    #cover-text {
        padding: 10px;
        right: 35px;
        top: 25px;
    }

    #cover-text h2 {
        font-size: 180%;
        text-transform: uppercase;
    }

    #cover-text h3 {
        font-size: 150%;
    }

    header {
        margin: 15px 5px;
    }

    /* Hamburger menu  */

    /* Show hamburger icon */

    .navigation label {
        display: inline-block;
        color: #fff;
        background: #881100;
        font-size: 110%;
        padding: 5px 12px;
        border-radius: 15px;
        margin-bottom: 5px;
    }

    /* = Toggle show/hide menu */
    
    #hamitems {
        display: none;
    }

    .navigation input:checked~#hamitems {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navigation {
        display: flex;
        align-items: center;
        position: relative;
        flex-direction: column;
    }

    .navigation li {
        margin-right: 0;
        padding: 5px 0;
    }

    #active {
        color: #881100;
        padding: 5px 8px;
        background: rgba(136, 17, 0, .3);
        border-radius: 15px;
    }

    /* Mission statement flex styling */

    #m-statement-top,
    #m-statement-middle {
        flex-direction: column;
    }

    #m-statement-bottom {
        flex-direction: column-reverse;
    }

    #what-is-boudoir,
    #boudoir-history {
        padding-bottom: 15px;
    }

    #m-statement-middle-img {
        width: 80%;
    }

    #boudoir-why-consider,
    #boudoir-why-us {
        padding-top: 15px;
    }

    #boudoir-history,
    #boudoir-why-consider {
        font-size: 125%;
    }

    /* Contact section styling */

    .contact {
        flex-direction: column;
    }

    #map {
        width: auto;
        height: auto;
        margin-left: 0;
    }

    #form {
        width: auto;
        height: auto;
        margin-right: 0;
    }

    /* Photo gallery responsive styling */

    .column-middle {
        max-width: 50%;
        padding: 0 15px;
    }

    .column img,
    .column-middle img {
        width: 100%;
        padding: 5px 0;
    }

    /* Team section responsive styling */

    .team {
        flex-direction: column;
        align-items: center;
        padding-top: 0;
    }

    #photographer,
    #makeup,
    #hair {
        padding-top: 25px;
    }

    .team img {
        width: 80%;
    }
}

/* For = small screens */

@media screen and (max-width: 600px) {

    body {
        margin: 0 25px;
    }

    .socials {
        margin: 15px 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .socials li {
        list-style: none;
        margin: 10px 0;
    }

    #cover-text {
        padding: 10px;
        right: 0;
        top: 25px;
    }

    #m-statement-middle-img {
        width: 90%;
    }

    /* Photo gallery responsive styling */

    .row {
        flex-direction: column;
        align-items: center;
    }

    .column,
    .column-middle {
        max-width: 90%;
        padding: 0 15px;
    }

    .review-container {
        flex-direction: column;
        align-items: center;
    }

    .review {
        width: 70%;
    }

    .team img {
        width: 100%;
    }
}

/* For = extra small screens */

@media screen and (max-width: 400px) {


    #mapaddress {
        flex-direction: column;
    }

    body {
        margin: 0 10px;
    }

    #m-statement-middle-img {
        width: 100%;
    }
}