@import url('https://fonts.googleapis.com/css2?family=Fanwood+Text:ital@0;1&family=Quattrocento+Sans:wght@400;700&display=swap');

/* CSS style reset */
* {
    margin: 0%;
    padding: 0%;
    border: none;
}

body {
    font-family: 'Fanwood Text', serif;
}

/* logo and header styling */
#logo {
    font-family: 'quattrocento sans', sans-serif;
    font-size: 150%;
    font-weight: 700;
    letter-spacing: 3px;
    text-decoration: none;
    color: #26282D;
}

#logo:hover {
    color: #881100;
    text-decoration: underline;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 50px;
}

/* Navigation menu styling */
#navigation {
    font-weight: 300;
    font-size: 150%;
}

#navigation li {
    display: inline;
    list-style-type: none;
    margin-right: 50px;
    letter-spacing: 3px;
}

#navigation a {
    text-decoration: none;
    color: #26282D;
    font-weight: 700;
}

#navigation a:hover {
    color: #881100;
    text-decoration: underline;
}

/* Hero image */

.hero-section {
    position: relative;
    height: 750px;
    width: 100%;
}

#hero-img {
    background: url(../images/hero_image2_original_crop.jpg) no-repeat center center;
    background-size: cover;
    height: 750px;
    width: 100%;
    background-attachment: fixed;
}

/* Cover text styling */

#cover-text {
    background-color: rgba(136, 17, 0, .6);
    width: fit-content;
    height: fit-content;

    padding: 75px 75px;

    position: absolute;
    right: 250px;
    top: 75px;

    border-radius: 25%;
}

#cover-text h2 {
    font-size: 250%;
    text-transform: uppercase;
}

#cover-text h3 {
    font-size: 200%;
}

#cover-text h2,
h3 {
    color: #fff;
    text-align: center;
}

/* Mission statement styling */

.mission-statement {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* Mission statement banner styling */

#statement-banner {
    text-align: center;
    color: #881100;
    text-transform: uppercase;
    font-size: 150%;
}

/* Mission statement images styling */

#boudoir-what-img, #boudoir-why-img {
    display: block;
    width: 500px;
    height: auto;
}

#boudoir-middle-img {
    display:block;
    width: 800px;
    height: auto;
}