/* Code below copied over from main css.style as to keep footer area consistent */

@import url('https://fonts.googleapis.com/css2?family=Fanwood+Text:ital@0;1&family=Quattrocento+Sans:wght@400;700&display=swap');

/* CSS style reset */
* {
    margin: 0%;
    padding: 0%;
    border: none;
}

body {
    font-family: 'Fanwood Text', serif;
    margin: 15px 155px;

    /* Hidden scrollbar */

    /* for Internet Explorer, Edge */
    -ms-overflow-style: none;
    /* for Firefox */
    scrollbar-width: none;
    overflow-y: scroll;
}

/* Hidden scrollbar for Chrome, Safari, and Opera */

body::-webkit-scrollbar {
    display: none;
}

/* Text and videos styling */

/* Text styling */

#text {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

h1 {
    text-transform: uppercase;
    font-size: 220%;
    color: #881100;
}

h2 {
    color: #26282D;
    font-size: 180%;
    text-transform: uppercase;
}

h4 {
    color: #26282D;
    font-size: 150%;
}

/* Video styling */

#video {
    display: flex;
    justify-content: space-around;
}

iframe {
    padding: 0 20px;
    min-width: 50%;
    height: 450px;
}

/* Footer styling */

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.socials {
    display: flex;
    justify-content: space-between;
}

.socials li {
    list-style: none;
    margin: 20px 25px;
}

.socials i {
    font-size: 250%;
    border-radius: 5px;
    padding: 10px 15px;
    color: #26282D;
    transition: 0.4s ease-in-out;
}

.socials i:hover {
    background: rgba(136, 17, 0, .5);
    transition: 0.4s ease-in-out;
}

footer h2 {
    text-align: center;
    text-transform: uppercase;
    color: #26282D;
}

#copyright {
    text-align: center;
    justify-content: space-between;
    display: inline-flex;
    font-weight: 700;
}

/* Media queries */

/* For larger screens */

@media screen and (max-width: 1600px) {

    iframe {
        height: 400px;
    }
}

/* For large to medium screens */

@media screen and (max-width: 1400px) {
    
    body {
        margin: 25px 110px;
    }

    iframe {
        height: 350px;
    }
}

/* For medium-large screens */

@media only screen and (max-width: 1200px) {

    #video {
        flex-direction: column;
    }

    iframe {
        margin-bottom: 20px;
        height: 500px;
    }

    body {
        margin: 25px 85px;
    }
}

/* For medium-small screens */

@media screen and (max-width: 900px) {

    body {
        margin: 20px 45px;
    }

    iframe {
        height: 400px;
    }
}

/* For small screens */

@media screen and (max-width: 600px) {

    body {
        margin: 20px 15px;
    }

    .socials {
        margin: 15px 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .socials li {
        list-style: none;
        margin: 10px 0;
    }

    iframe {
        height: 250px;
    }
}

/* For extra small screens */

@media screen and (max-width: 400px) {

    iframe {
        height: 200px;
    }
}

/* Flip text animation for "Take me back to home" function */

.wavy {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.wavy span {
    display: inline-block;
    font-size: 220%;
    color: #881100;
    text-transform: uppercase;
    font-weight: 700;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
}

@keyframes flip {

    0%,
    80% {
        transform: rotateY(360deg)
    }
}

.span-hidden {
    visibility: hidden;
}

a {
    text-decoration: none;
}